<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" type="text/css"/>
    <title>DnD Character Generator</title>
  </head>
  <body>
    <div class="container">
      <h1>DnD Character Generator</h1>
      <input type="text" id="classInput" placeholder="Enter a class" />
      <input type="text" id="levelInput" placeholder="Enter a level" />
      <button id="searchButton">Search</button>
    </div>
    <script type="module" src="./generate.js"></script>
  </body>
</html>